*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: grid;
    grid-template-areas: 
    "header header aside"
    "main main aside"
    "footer footer footer"
    ;
} 

/*header*/

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    grid-area: header;
    nav{
        display: flex;
        align-items: center;
        ul {
            display: flex;
            list-style-type: none;
            li {
                margin-left: 20px;
                a:link{
                    color: rgb(0, 0, 0);
                    a:visited{
                        color: #000000;
                        a:hover{
                            color: rgb(0, 0, 0);
                            a:active{
                                color: rgb(0, 0, 0);
                            }
                        }
                    }
                }
            }
        }
    }
}
header div img{
    width: 120px;
}

nav {
    background-color: #000000;
    overflow: hidden;
    a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px; /* Espaciado interno */
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 23px;
        &:hover{
            background-color: #00aef3; /* Color de fondo al pasar el mouse sobre el enlace */
            color: black;
        }
    }
}

.titulo {
    font-size: 60px;
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*main*/

main{
    grid-area: main;
    padding: 50px 0;
}

.contenedor-imagenes {
    display: flex; /* Establece un contenedor flexible */
    flex-flow: wrap;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    img {
        max-width: 300px;
        padding: 1rem;
    }
}


main section .card-index{
    display: flex;
    width: 300px;
    margin: 50px;
    box-shadow: 0 0 20px rgb(163, 151, 151);
    transition: transform .5s;
    &:hover{
        transform: scale(1.09);
    }
}

main section .card-index div:nth-child(2){
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


main .galeria{
    display: grid;
    grid-template-areas: none;
}

main section{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    justify-content: center;
    .card{
        display: flex;
        width: 250px;
        background-color: rgb(250, 250, 250);
        border: 1px solid rgb(205, 205, 205);
        margin: 5px;
        box-shadow: 0 0 10px rgb(228, 228, 228);
        div button{
            width: 100%;
            background-color: black;
            color: white;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            transition: background-color .5s;
            &:hover{
                background-color: white;
                color: black;
                cursor: pointer;
            }
        }
        &:nth-child(2){
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        div img{
            width: 240px;
        }
        transition: transform .5s;
        &:hover{
            transform: scale(1.05);
        }
    }
}


.rounded {
    width: 350px
}

/*aside*/

aside{
    background-color: rgba(0, 0, 0, 0.603);
    padding: 5px;
    grid-area: aside;
    left: 0; /* Muestra el aside en mobile */
    nav ul{
        list-style-type: none;
        li {
            color: white;
        }
    }
}

#search-form {
    display: flex;
    margin: 5px;
    input {
        flex-grow: 1;
        padding: 2px;
    }
    button {
        padding: 2px 4px;
    }
    
}

/*footer*/

footer{
    background-color: black;
    padding: 10px;
    grid-area: footer;
    div p {
        text-align: center;
        color: white;
    }
}

.whatsapp {
    width: 50px;
    /*POSITION FIXED*/
    position: fixed;
    bottom: 40px;
    right: 30px;
}

/*media querys*/
@media (max-width: 991px){
    main section{
        grid-template-columns: 400px;
        grid-template-rows: repeat(6,1fr);
    }
}

@media (max-width: 480px){
    body{
        grid-template-areas: 
        "header"
        "main" 
        "aside"
        "footer"
        ;
    }
    main section .card{
        margin: 0;
    }
}

